      // Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #F39200;
$green: #32B796;
$gray: #626163;
$light-gray: #F4F4F4;
$blonde_background: #FFD13F;
$blanche_background: #63C2C7;
$rousse_background: #EA5451;
$ambree_background: #EA5451;
$black: #2D2D2E;
