<div class="container">
  <%= render 'shared/banner' %>
  <div class="row">
     <div class="col-xs-4 col-s-4 col-m-4">
      <div class="icons">
        <a href="<%= beers_path %>"> <i class="fa fa-beer" aria-hidden="true"></i></a>
        <p>Côté Bières</p>
      </div>
    </div>
     <div class="col-xs-4 col-s-4 col-m-4">
      <div class="icons">
        <a href=<% beers_path %>> <i class="fa fa-cutlery" aria-hidden="true"></i></a>
        <p>Côté Cuisine</p>
      </div>
    </div>
    <div class="col-xs-4 col-s-4 col-m-4">
      <div class="icons">
        <a href=<% beers_path %>> <i class="fa fa-calendar" aria-hidden="true"></i></a>
        <p>Evénements</p>
      </div>
    </div>
  </div>
</div>

