.navbar-fabrique {
  height: auto;
  text-align: center;
  background-color: $light-gray;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  vertical-align: center;

}

.navbar-fabrique img{
  padding: 15px 15px;
  height: 150px;
}
