.separator {
  // border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: center;

  h1 {
    font-weight: lighter;
    color: $black;
  }
}
